:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212429;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  text-shadow: 2px 2px 6px #000, 0 1px 0 #bfa06a;
  font-family: "MedievalSharp", cursive;
  background-color: #212429;
  color: rgba(255, 255, 255, 0.87);
}

.cursor-pointer {
  cursor: pointer;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.mantine-Modal-overlay {
  background: none !important;
  backdrop-filter: none !important;
}

@media screen and (max-width: 851px) {
  .responsive-none {
    display: none !important;
  }
}
